@import "tailwindcss";

@theme {
  --color-mint-50: oklch(96.92% 0.014 162.48);
  --color-mint-100: oklch(93.63% 0.027 160.86);
  --color-mint-200: oklch(87.35% 0.054 161.1);
  --color-mint-300: oklch(81.31% 0.084 159.57);
  --color-mint-400: oklch(75.31% 0.109 158.42);
  --color-mint-500: oklch(69.53% 0.132 156.21);
  --color-mint-600: oklch(59.13% 0.111 156.54);
  --color-mint-700: oklch(48.22% 0.089 156.41);
  --color-mint-800: oklch(36.43% 0.062 157.27);
  --color-mint-900: oklch(23.84% 0.036 157.16);
  --color-mint-950: oklch(19.68% 0.026 159.36);

  --color-ash-grey-50: oklch(96.48% 0.007 164.94);
  --color-ash-grey-100: oklch(93.04% 0.013 167.16);
  --color-ash-grey-200: oklch(86.1% 0.03 164.18);
  --color-ash-grey-300: oklch(78.98% 0.045 164.29);
  --color-ash-grey-400: oklch(71.76% 0.06 162.73);
  --color-ash-grey-500: oklch(64.7% 0.076 161.92);
  --color-ash-grey-600: oklch(54.94% 0.062 161.67);
  --color-ash-grey-700: oklch(44.97% 0.05 162.48);
  --color-ash-grey-800: oklch(34.38% 0.037 161.91);
  --color-ash-grey-900: oklch(22.68% 0.018 165.08);
  --color-ash-grey-950: oklch(19.05% 0.015 162.96);

  --color-slate-50: oklch(95.53% 0.008 271.33);
  --color-slate-100: oklch(91.1% 0.017 274.81);
  --color-slate-200: oklch(81.97% 0.036 273.18);
  --color-slate-300: oklch(72.68% 0.055 273.13);
  --color-slate-400: oklch(63.16% 0.077 271.99);
  --color-slate-500: oklch(53.48% 0.1 271.1);
  --color-slate-600: oklch(45.73% 0.084 270.94);
  --color-slate-700: oklch(37.65% 0.065 271.5);
  --color-slate-800: oklch(29.09% 0.047 271.32);
  --color-slate-900: oklch(19.87% 0.025 273.17);
  --color-slate-950: oklch(16.93% 0.018 268.55);

  --color-ash-50: oklch(96.02% 0.003 325.6);
  --color-ash-100: oklch(91.96% 0.007 312.3);
  --color-ash-200: oklch(83.75% 0.015 312.22);
  --color-ash-300: oklch(75.51% 0.02 312.75);
  --color-ash-400: oklch(66.87% 0.029 312.47);
  --color-ash-500: oklch(58.07% 0.039 313.94);
  --color-ash-600: oklch(49.52% 0.031 312.34);
  --color-ash-700: oklch(40.7% 0.024 312.54);
  --color-ash-800: oklch(31.16% 0.019 311.9);
  --color-ash-900: oklch(21.03% 0.011 311.98);
  --color-ash-950: oklch(17.68% 0.007 314.64);

  --color-grey-50: oklch(96% 0.003 345.21);
  --color-grey-100: oklch(92.18% 0.004 337.36);
  --color-grey-200: oklch(84.16% 0.008 345.38);
  --color-grey-300: oklch(75.98% 0.012 342.74);
  --color-grey-400: oklch(67.58% 0.017 341.6);
  --color-grey-500: oklch(58.89% 0.022 344.35);
  --color-grey-600: oklch(50.28% 0.019 341.86);
  --color-grey-700: oklch(41.24% 0.014 343.18);
  --color-grey-800: oklch(31.67% 0.01 345.95);
  --color-grey-900: oklch(21.33% 0.006 337.83);
  --color-grey-950: oklch(18.05% 0.004 345.69);
}

.theme-background {
  background-color: var(--color-mint-50);
  color: var(--color-ash-grey-950);
}

.theme-main {
  background-color: var(--color-mint-100);
  color: var(--color-ash-grey-950);
}

.theme-secondary {
  background-color: var(--color-mint-300);
  color: var(--color-ash-grey-950);
}

.theme-tertiary {
  background-color: var(--color-mint-400);
  color: var(--color-ash-grey-950);
}

.divider {
  display: inline-block;
  width: 2px;
  background-color: black;
  margin: 0 10px;
  height: 10em;
  opacity: 50%;
}